body {
    background: rgb(89, 49, 163);
    color: rgb(0, 0, 0);
    margin: 0opx;
    font-family: "poppins", sans-serif;
}

header {
    border-bottom: solid 2px rgb(102, 19, 173) rgb(42, , 122, rgb(185, 77, 104));
    padding: 20px;
    font-size: 32px;
    color: rgb(rgb(146, 12, 34), rgb(31, 153, 78), rgb(200, 255, 0));
}

section {
    background-color: rgb(102, 14, 43);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40opx;
}

p {
    font-size: 20opx;
}

.categoria-videos {
    display: flex;
    overflow-y: auto;
    gap: 10x;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0,5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 5px solid green;
}

.categoria h2 {
    color: aquamarine rgb(42, 122, 228)
}